@import '../../App'

.notificationsContainer
    margin: 20px 20px 100px 20px

    .notificationsLink
        text-decoration: none
        color: $smoke-black

        .notifications
            background: white
            border: 1px solid #f5f5f5
            border-radius: 10px
            padding: 30px 20px
            margin: 20px 0 0 0 

            .notificationsText
                font-size: 18px

            .notificationsDate
                font-size: 14px
                color: $smoke-black
                margin-top: 30px

            .notificationsBadge
                border-radius: 50%
                width: 15px
                height: 15px
                background-color: $rejected
                margin: 0 0 0 auto

@media only screen and (min-width: 1100px)
    .notificationsContainer
        margin: 120px auto
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 20px
        width: 1100px

        .notificationsLink
            .notifications
                margin: 0
                height: 280px
                display: grid
                grid-template-rows: auto 1fr auto
                position: relative

                .notificationsDate
                    align-self: end
                    margin-top: 0

                .notificationsBadge
                    position: absolute
                    right: 0
                    margin: 15px
                
            