@import '../../App'

.profileContainer
    margin: 20px 20px 100px 20px
    text-align: center

    .profile
        .profileText
            font-size: 18px

        .profileButton
            margin: 10px auto 0 auto
            cursor: pointer
            outline: none
            border: 1px solid black
            font-size: 12px
            background: white
            padding: 10px 18px
            border-radius: 4px
            display: block

        .profileLine
            border-top: 1px solid #e2e2e2
            margin: 60px 0

        .profileCheckboxText
            display: grid
            grid-template-columns: 1fr auto
            margin: 0 auto
            max-width: 300px

            .profileText
                text-align: left

            .profileCheckbox
                background: #ebebeb
                border-radius: 30px
                width: 60px
                display: grid
                align-items: center
                padding: 5px
                cursor: pointer

                .profileCheckboxCircleOff
                    width: 18px
                    height: 18px
                    border-radius: 50%
                    background: white
                    transition: 0.7s

                .profileCheckboxCircleOn
                    width: 18px
                    height: 18px
                    border-radius: 50%
                    background: #28b834
                    transform: translateX(30px)
                    transition: 0.7s

        .profileButtonRole
            display: block
            width: 240px
            height: 55px
            margin: 10px auto 0 auto
            color: white
            font-size: 18px
            border-radius: 4px
            border: none
            outline: none
            cursor: pointer

@media only screen and (min-width: 1100px)
    .profileContainer
        margin: 120px auto
        width: 1100px