.formContainer
    margin: 20px

    .form
        max-width: 500px
        margin: 0 auto

        .formLabel
            display: block
            font-size: 14px
            margin: 15px 0 2px 0

        .formInput
            width: 100%
            font-size: 18px
            padding: 10px
            outline: none
            border: 1px solid black

            &:focus
                border: 1px solid blue
                color: blue