@import '../../App'

.rejectedContainer
    margin: 20px 20px 100px 20px

    .rejected
        .rejectedLink
            text-decoration: none
            color: black
            
            .rejectedLinkForms
                background: white
                border-radius: 10px
                box-shadow: rgba(226, 226, 226, 0.6) 0px 1px 12px 2px
                margin: 20px auto 0 auto
                padding: 30px 15px
                max-width: 320px
                position: relative

                .rejectedLinkFormsTag
                    position: absolute
                    top: 0
                    left: 0
                    font-size: 12px
                    padding: 3px 10px
                    color: white
                    background: $rejected
                    border-bottom-right-radius: 4px

                .rejectedLinkFormsName
                    font-size: 18px
                    font-weight: 500

                .rejectedLinkFormsRejected
                    font-size: 14px
                    font-weight: 500
                    color: $rejected
                    margin-top: 20px

                .rejectedLinkFormsComment
                    font-style: italic
                    font-size: 14px
                    font-weight: 500
                    color: #a0a0a0

                .rejectedLinkFormsBy
                    font-size: 12px
                    font-weight: 500
                    color: $smoke-black

                .rejectedLinkFormsCreator
                    font-size: 14px
                    margin-top: 30px

                .rejectedLinkFormsCreatedat
                    font-size: 14px
                    color: $smoke-black

@media only screen and (min-width: 1100px)
    .rejectedContainer
        margin: 120px 0

        .rejected
            max-width: 1100px
            margin: 0 auto
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            gap: 60px

            .rejectedLink
                .rejectedLinkForms
                    max-width: none
                    width: 100%
                    margin: 0
                    height: 280px
                    display: grid
                    grid-template-rows: 1fr auto auto auto

