@import '../../App'
    
.navbarContainer
    background: white
    padding: 14px 20px
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 100
    border-top: 1px solid #e2e2e2

    .navbar
        display: grid
        grid-template-columns: auto auto auto auto
        justify-content: space-between
        align-items: center
        position: relative
        gap: 50px

        .navbarBellIconBadgeContainer
            position: relative

            .navbarBellIcon
                width: 30px
                height: 30px
                display: block

            .navbarBellIconBadge
                border-radius: 50%
                width: 15px
                height: 15px
                background-color:#dd1572
                margin: 0 0 0 auto
                position: absolute
                top: 0
                right: 0

        .navbarHamburgerIcon
            width: 35px
            height: 35px
            cursor: pointer

        .navbarProfileIcon
            width: 35px
            height: 35px
            background-color: black
            color: white
            border-radius: 50%
            display: grid
            align-content: center
            justify-content: center
            font-size: 14px
            text-decoration: none

        .navbarHamburgerContainer
            position: absolute
            background: white
            z-index: 10
            box-shadow: rgba(0, 0, 0, 0.2) 0px 13px 15px
            right: 0
            bottom: 0
            margin-bottom: 60px
            padding: 40px 
            border-radius: 10px

            .navbarLink
                text-decoration: none
                line-height: 50px

                .navbarLinkItemActive
                    color: $primary-color
                    font-size: 20px

                .navbarLinkItemInactive
                    color: black
                    font-size: 20px

@media only screen and (min-width: 1100px)
    .navbarContainer
        background: white
        padding: 24px 0
        position: fixed
        top: 0
        left: 0
        bottom: auto
        width: 100%
        z-index: 200
        border-bottom: 1px solid #e2e2e2

        .navbar
            display: grid
            grid-template-columns: auto auto auto auto auto auto auto
            justify-content: center
            align-items: center
            gap: 50px
            width: 1100px
            margin: 0 auto

            .navbarBellIconBadgeContainer
                position: relative

                .navbarBellIcon
                    width: 30px
                    height: 30px
                    display: block

                .navbarBellIconBadge
                    border-radius: 50%
                    width: 15px
                    height: 15px
                    background-color:#dd1572
                    margin: 0 0 0 auto
                    position: absolute
                    top: 0
                    right: 0

            .navbarLink
                text-decoration: none
                line-height: auto

                .navbarLinkItemActive
                    color: $primary-color
                    font-size: 20px

                .navbarLinkItemInactive
                    color: black
                    font-size: 20px


        