*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

::placeholder
    color: #767F81

// safari + iOS input fields styling
textarea, input
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none


