*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins'
    word-break: break-word

::placeholder
    color: #e4e4e4

$primary-color: #304FFE
$smoke-black: #272724
$pending: #FFCA28
$approved: #28b834
$rejected: #dd1572

html
    overflow-y: scroll

a
    text-decoration: none

// safari + iOS input fields styling
textarea, input
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none


