@import '../../App'

.indexContainer
    .index
        .indexBox
            background: #fafafa
            border-radius: 10px
            width: 270px
            margin: 50px auto 0 auto
            padding: 20px

            .indexBoxTitle
                font-size: 28px
                font-weight: 900
                margin-bottom: 40px

            .indexBoxInput
                width: 100%
                outline: none
                border: 1px solid black
                padding: 8px
                border-radius: 4px

            .indexBoxRadioText
                display: grid
                grid-template-columns: auto 1fr
                align-items: center
                margin-top: 10px

                .indexBoxRadio
                    width: 25px
                    height: 25px
                    border-radius: 4px
                    border: 1px solid black
                    cursor: pointer
                    position: relative
                    margin-right: 10px

                    .indexBoxRadioCheckmark
                        left: 8px
                        top: 4px
                        width: 7px
                        height: 13px
                        border: solid $primary-color
                        border-width: 0 3px 3px 0
                        transform: rotate(45deg)
                        position: absolute
                        cursor: pointer

                .indexBoxText
                    font-size: 14px

            .indexBoxButton
                width: 100%
                margin-top: 20px
                outline: none
                border: none
                border-radius: 4px
                color: white
                background-color: $primary-color
                height: 44px
                font-size: 16px
                cursor: pointer