@import '../../App'

.indexContainer
    .index
        .indexBox
            width: 240px
            margin: 60px auto 

            .indexBoxTitle
                font-size: 26px
                font-weight: 700
                margin-bottom: 10px
                color: $smoke-black

            .indexBoxInput
                width: 100%
                font-size: 16px
                padding: 10px
                outline: none
                border: 1px solid #e9e9e9
                border-radius: 4px
                background-color: white
                color: $smoke-black

                &:focus
                    border: 1px solid $primary-color
                    color: $primary-color

            .indexBoxRadioText
                display: grid
                grid-template-columns: auto 1fr
                align-items: center
                margin-top: 10px

                .indexBoxRadio
                    width: 25px
                    height: 25px
                    border-radius: 4px
                    border: 1px solid #e9e9e9
                    cursor: pointer
                    position: relative
                    margin-right: 5px

                    .indexBoxRadioCheckmark
                        left: 8px
                        top: 4px
                        width: 7px
                        height: 13px
                        border: solid $primary-color
                        border-width: 0 3px 3px 0
                        transform: rotate(45deg)
                        position: absolute
                        cursor: pointer

                .indexBoxText
                    font-size: 14px
                    color: $smoke-black

            .indexBoxButton
                width: 100%
                margin-top: 10px
                outline: none
                border: none
                border-radius: 4px
                color: white
                background-color: $primary-color
                height: 44px
                font-size: 16px
                cursor: pointer

                &:disabled
                    background: #dae1ec
                    cursor: not-allowed

            .indexBoxVerbage
                font-size: 14px
                margin-top: 15px
                color: $smoke-black

            .indexBoxError
                font-size: 14px
                margin-top: 15px
                color: $rejected
                text-align: center

@media only screen and (min-width: 1100px)
    .indexContainer
        margin: 120px auto
        width: 1100px

        .index
            display: grid
            grid-template-columns: auto auto
            justify-content: center
            gap: 100px

            .indexBox
                width: 340px
                margin: 0
                background: white
                padding: 40px 30px
                border-radius: 10px